<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro app</title>
</head>
<body>
    <h1>Olá, Django!</h1>
    <p> Este é o meu primeiro aplicativo Django.</p>
    <a href="{% url 'contato' %}"> Página contato</a>   
    <br>
    <a href="{% url 'sobre' %}"> Página sobre</a>
    <br>
    <a href="{% url 'aluno' 1 %}">Ir para aluna Laíze</a>

    {% if nome %}
        <p>Olá, {{nome}}</p>
    {% else %}
        <p>Olá, visitante</p>
    {% endif %}
</body>
</html>
